<div class="login_body">
  <h1><strong>物流办公系统</strong></h1>
  <div class="login_form">
    <h2>登录</h2>
    <div class='login_form_wrap'>
      <p>
        <%=flash[:notice]%>
        <%=flash[:alert]%>
      </p>

      <%form_for resource_name, resource, :url => session_path(resource_name) do |f| -%>
        <%=hidden_field_tag "user[is_active]",1 %>
        <p>
          <%=f.label :username,'用户名',:class => "block"%>
          <%=f.text_field :username,:live => false%>
        </p>
        <p>
          <%=f.label :password,'密&nbsp;&nbsp;码' ,:class => "block"%>
          <%=f.password_field :password,:live => false%>
        </p>

        <% if devise_mapping.rememberable? -%>
          <p class='fl'><%= f.check_box :remember_me %> <%= f.label :remember_me,'记住我的登录信息' %></p>
        <% end %>
        <p class='fr'>
          <%= f.submit "登录",:class => "sexybutton sexysimple sexylarge sexygreen" %>
        </p>
        <div class='cl'></div>
      <%end%>
    </div>
  </div>
</div>
<script type='text/javascript'>
  $('user_username').focus();
</script>

