<ul class="wat-cf">

  <%if check_power('new_consumer_receipt')%>
    <li class="first <%=check_sub_active_tab(1) %>"><%= link_to "入库单", consumer_receipts_path(:active_sub_tab => 1) %></li>
  <%end%>

  <%if check_power('consumer_receipt_audit')%>
    <li class="<%=check_sub_active_tab(15) %>"><%= link_to "待确认入库单", consumer_receipts_path(:active_sub_tab => 15,"search[state]" => MaterialInout::STATE_DRAFT,"search[auditor_id]" => current_user) %></li>
  <% end%>
  <%if params[:active_sub_tab] == '6'%>
    <li class="active"><%= link_to "新建入库单", new_durable_receipt_path(:active_sub_tab => 6) %></li>
  <%end%>
  <%= render :partial => "shared/more_operate" %>
</ul>
