<div class="block">
  <div class="secondary-navigation">
    <%= render 'caption' %>
  </div>
  <div class="content">
    <h2 class="title">员工列表</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"></th>
          <th>所属部门</th>
          <th>编码</th>
          <th>姓名</th>
          <th>性别</th>
          <th>身份证号</th>
          <th>职位</th>
          <th>入职日期</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @employees.each_with_index do |employee,index| %>
          <tr class="<%= cycle("odd", "even") %>">
            <td><%= index + 1 %></td>
            <td><%=employee.org.name%></td>
            <td><%=employee.code %></td>
            <td><%=employee.name %></td>
            <td><%=employee.sex %></td>
            <td><%=employee.id_card %></td>
            <td><%=employee.position %></td>
            <td><%=employee.entry_date %></td>
            <td class="last">
              <%= link_to "修改", edit_employee_path(employee) %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
          <%=will_paginate @employees%>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, render('sidebar') %>
