<div class="actions-bar text-right">
  <%if !@salary_table.audited? and check_power('audit_salary_table')%>
    <%=link_to '审核工资表',audit_salary_table_path(@salary_table),:method => :put, :class => 'sexybutton sexysimple sexyblue'%>
  <%elsif check_power('print_salary_table')%>
    <%=link_to_function '打印入账联',"",:id =>"btn_print_salary_table_1",:class => 'sexybutton sexysimple sexyblue' %>
    <%=link_to_function '打印发放联',"",:id =>"btn_print_salary_table_2",:class => 'sexybutton sexysimple sexyblue' %>
  <%end%>
</div>
<hr/>
<table class='table' id='salary_table_show'>
  <thead>
    <tr class='salary_table_title'>
      <td colspan='20' class='text-center'><%="#{Client.first.name}(#{@salary_table.mth})工资表"%></td>
    </tr>
    <tr class='salary_table_title'>
      <td colspan='2'>月份:</td>
      <td colspan='2'><%=@salary_table.mth %></td>
      <td colspan='4'>&nbsp;</td>
      <td colspan='2'>制表时间:</td>
      <td colspan='2'><%=@salary_table.bill_date%></td>
    </tr>
    <tr>
      <th class='employee_name'>姓名</th>
      <th class='work_days'>出勤天数</th>
      <th class='base_salary'>基本工资</th>
      <th class='work_year_salary'>工龄工资</th>
      <th class='position_salary'>岗位津贴</th>
      <th class='work_days_added'>出勤奖</th>
      <th class='food_salary'>伙食补助</th>
      <th class='house_salary'>住房补贴</th>
      <th class='other_added'>其他补助</th>
      <th class='deducted_fee'>应扣款项</th>
      <th class='act_salary'>实发工资</th>
      <th class='signature' style='display : none;'>领取人</th>
    </tr>
  </thead>
  <tbody>
    <%@salary_table.salary_table_lines.each do |stl|%>
      <tr>
        <td class='employee_name'>
          <%= stl.employee.name %>
        </td>
        <td class='work_days'><%= stl.work_days %></td>
        <td class='base_salary'><%= stl.base_salary%></td>
        <td class='work_year_salary'><%= stl.work_year_salary%></td>
        <td class='position_salary'><%= stl.position_salary %></td>
        <td class='work_days_added'><%= stl.work_days_added %></td>
        <td class='food_salary'><%= stl.food_salary %></td>
        <td class='house_salary'><%= stl.house_salary %></td>
        <td class='other_added'><%= stl.other_added %></td>
        <td class='decuted_fee'><%= stl.deducted_fee %></td>
        <td class='act_salary'><%= stl.act_salary%></td>
        <td class='signature' style='display : none;'>&nbsp;</td>
      </tr>
    <% end%>
  </tbody>
  <tfoot>
    <tr><td colspan='20'>&nbsp;</td></tr>
    <tr>
      <td class='employee_name'>合计</td>
      <td class='work_days'><%=@salary_table.salary_table_lines.sum(:work_days)%></td>
      <td class='base_salary'><%=@salary_table.salary_table_lines.sum(:base_salary)%></td>
      <td class='work_year_salary'><%=@salary_table.salary_table_lines.sum(:work_year_salary)%></td>
      <td class='position_salary'><%=@salary_table.salary_table_lines.sum(:position_salary)%></td>
      <td class='work_days_added'><%=@salary_table.salary_table_lines.sum(:work_days_added)%></td>
      <td class='food_salary'><%=@salary_table.salary_table_lines.sum(:food_salary)%></td>
      <td class='house_salary'><%=@salary_table.salary_table_lines.sum(:house_salary)%></td>
      <td class='other_added'><%=@salary_table.salary_table_lines.sum(:other_added)%></td>
      <td class='deducted_fee'><%=@salary_table.salary_table_lines.sum(:deducted_fee)%></td>
      <td class='act_salary'><%=@salary_table.salary_table_lines.sum(:act_salary)%></td>
      <td class='signature' style='display : none;'>&nbsp;</td>
    </tr>
    <tr><td colspan='20'>&nbsp;</td></tr>
    <tr class='salary_table_foot'>
      <td colspan='2'>审核人:</td>
      <td colspan='2'>&nbsp;</td>
      <td colspan='2'>核算人:</td>
      <td colspan='20'>&nbsp;</td>
    </tr>
  </tfoot>
</table>

