<%if check_power('new_salary_table')%>
  <div class="block">
    <h3>新建工资表</h3>
    <div class="content">
      <% form_for SalaryTable.search,:url => {:controller =>:salary_tables,:action => :new}, :html => { :class => :uniForm } do |f| -%>
        <fieldset class='inlineLabels'>
          <div class='ctrlHolder'>
            <%=f.label :mth,"月份" %>
            <%=f.select :mth,months_ago_for_select %>
          </div>
        </fieldset>
        <div class="actions-bar">
          <%=f.submit '新建工资表', :class => 'sexybutton sexysimple sexyblue'%>
        </div>
      <% end %>
    </div>
  </div>
<%end%>


<%if check_power('index_salary_table')%>
  <div class="block">
    <h3>查询工资表</h3>
    <div class="content">
      <%=render "salary_tables/search_form"%>
    </div>
  </div>
<%end%>

<%if check_power('index_sum_salary_table')%>
  <div class="block">
    <h3>出勤统计</h3>
    <div class="content">
      <%=render "salary_tables/search_form_sum"%>
    </div>
  </div>
<%end%>
