<div class="block">
  <div class="secondary-navigation">
    <%=render "caption"%>
  </div>
  <div class="content">
    <h2 class="title">确认清单</h2>
    <div class="inner">
      <table class='table'>
        <tr>
          <td>确认人:<%=@confirm.user.username%></td>
          <td>确认日期:<%=@confirm.created_at.to_date%></td>
          <td>当前状态:<%=confirm_state_desc @confirm.state%></td>
          <td style='text-align : right;'>
            <%if @confirm.bills.first.class.eql? CarryingBill %>
              <%if check_power(:audit_confirm_carrying_bills) and @confirm.state.eql?('DR')%>
              <%= link_to "审核", audit_confirm_path(@confirm),:method => :put,:confirm => "确认要审核吗?",:class => 'sexybutton sexysimple sexyblue' %>
              <%end%>
            <%end%>
            <%if @confirm.bills.first.class.eql? InoutBill %>
              <%if check_power(:audit_confirm_inout_bills) and @confirm.state.eql?('DR')%>
              <%= link_to "审核", audit_confirm_path(@confirm),:method => :put,:confirm => "确认要审核吗?",:class => 'sexybutton sexysimple sexyblue' %>
              <%end%>
            <%end%>

          </td>
        </tr>
      </table>
      <%=render :partial => "shared/bills/bill_list",:object =>{:show_sum => false,:bills => (@confirm.bills.paginate :page => 1,:per_page => 1000)} %>
    </div>
  </div>
</div>
<% content_for :sidebar, render('sidebar') %>
