<ul class="wat-cf">
  <li class="first <%=check_sub_active_tab(1)%>">
    <%= link_to "组织架构图", org_infos_path(:active_sub_tab => 1)  %>
  </li>
  <%if params[:active_sub_tab] == '2'%>
    <li class="active">
      <%= link_to "新建", "#"  %>
    </li>
  <%end%>
  <%if params[:active_sub_tab] == '3'%>
    <li class="active">
      <%= link_to "修改", '#'  %>
    </li>
  <%end%>
  <%if params[:active_sub_tab] == '4'%>
    <li class="active">
      <%= link_to "职位信息图", '#'  %>
    </li>
  <%end%>
  <%if params[:active_sub_tab] == '5'%>
    <li class="active">
      <%= link_to "新建职位",  '#' %>
    </li>
  <%end%>

  <%if params[:active_sub_tab] == '6'%>
    <li class="active">
      <%= link_to "修改职位", '#' %>
    </li>
  <%end%>
  <%if params[:active_sub_tab] == '9'%>
    <li class="active">
      <%= link_to "职位条目", '#'  %>
    </li>
  <%end%>
  <%if params[:active_sub_tab] == '10'%>
    <li class="active">
      <%= link_to "新建职位条目", '#'  %>
    </li>
  <%end%>

  <%if params[:active_sub_tab] == '11'%>
    <li class="active">
      <%= link_to "修改职位条目", '#'  %>
    </li>
  <%end%>
  <%if params[:active_sub_tab] == '12'%>
    <li class="active">
      <%= link_to "查看职位条目", '#'  %>
    </li>
  <%end%>
  <%= render :partial => "shared/more_opreate" %>
</ul>

