<fieldset class='blockLabels'>
  <%=f.error_messages%>
  <div class="ctrlHolder">
    <%= f.label :parent_id, "上级机构" %>
    <p><%=f.select :parent_id,org_infos_for_parent_select,:include_blank => true %></p>
    <p class="formHint">如果是顶层机构,请将该项设置为空</p>
  </div>

  <div class="ctrlHolder">
    <%= f.label :name, "机构名称" %>
    <%= f.text_field :name, :size => "30",:maxlength => "30" %>
    <p class="formHint">机构名称,最长30个汉字</p>
  </div>

  <div class="ctrlHolder">
    <%= f.label :is_active, "有效" %>
    <%= f.check_box :is_active %>
    <p class="formHint">若信息设置为无效,则不能被查询</p>
  </div>
  <div class="ctrlHolder">
    <%= f.label :order_by, "序号" %>
    <%= f.text_field :order_by,:size => "30",:maxlength => "30" %>
    <p class="formHint">该机构在界面中的显示顺序</p>
  </div>
  <div class="actions-bar">
    <%=f.submit '保存信息', :class => 'sexybutton sexysimple sexyblue' %>
    <%=link_to '取消',:back,:class => 'sexybutton sexysimple sexyred' %>
  </div>
</fieldset>
