<ul class="wat-cf">
  <li class="first <%=check_sub_active_tab(1)%>">
    <%= link_to content_class_name(params[:content_class_code]), '#'  %>
  </li>
  <%if params[:active_sub_tab] == '8'%>
    <li class="active">
      <%= link_to "新建",'#'  %>
    </li>
  <%end%>
  <%if params[:active_sub_tab] == '9'%>
    <li class="active">
      <%= link_to "修改", '#' %>
    </li>
  <%end%>
  <%if params[:active_sub_tab] == '10'%>
    <li class="active">
      <%= link_to "查看",'#' %>
    </li>
  <%end%>

  <%= render :partial => "shared/more_operate" %>
</ul>
