<h1>Listing content_items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Published at</th>
    <th>Context</th>
    <th>Is active</th>
    <th>Publisher</th>
    <th>Content class</th>
  </tr>

<% @content_items.each do |content_item| %>
  <tr>
    <td><%=h content_item.title %></td>
    <td><%=h content_item.published_at %></td>
    <td><%=h content_item.context %></td>
    <td><%=h content_item.is_active %></td>
    <td><%=h content_item.publisher_id %></td>
    <td><%=h content_item.content_class %></td>
    <td><%= link_to 'Show', content_item %></td>
    <td><%= link_to 'Edit', edit_content_item_path(content_item) %></td>
    <td><%= link_to 'Destroy', content_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New content_item', new_content_item_path %>