<div class="block">
  <div class="secondary-navigation">
    <%= render 'caption' %>
  </div>
  <div class="content">
    <div class="inner">
      <table class="table">
        <%@content_items.each do |item| %>
          <tr class="<%= cycle("odd", "even") %>">
            <td>
              <%= link_to item.title,content_item_path(item,:content_class_code => params[:content_class_code]),:class => "ellipsis'" %>
            </td>
            <td>
              <%= item.created_at.strftime("%Y-%m-%d %H:%M") %>
            </td>
            <td>
              <%= link_to "查看", content_item_path(item,:content_class_code => params[:content_class_code]) %>
              <%if check_power("edit_#{params[:content_class_code]}")%>
                <%= link_to "修改", edit_content_item_path(item,:content_class_code => params[:content_class_code],:active_sub_tab => 9)%>
              <%end%>
              <%if check_power("destroy_#{params[:content_class_code]}")%>
                <%= link_to "删除", content_item_path(item,:content_class_code => params[:content_class_code]), :method => :delete, :confirm => "确定删除吗?" %>
              <%end%>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
          <%=will_paginate @content_items %>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') %>
