<table class='table'>
  <tr>
    <td colspan='2'>分理处/分公司:</td>
    <td>
      <%=@invoice_check.org.name %>
      <%=f.hidden_field :org_id  %>
    </td>
    <td colspan='2'>
      盘查日期:
      <%=@invoice_check.check_date %>
    </td>
  </tr>
  <tr>
    <th colspan='5'>电脑票</th>
  </tr>
  <tr>
    <td>上期结余</td>
    <td>本期领取</td>
    <td>本期使用</td>
    <td>本期作废</td>
    <td>本期结余</td>
  </tr>
  <tr>
    <td>
      <%= @invoice_check.computer_balance_count %>
      <%= f.hidden_field :computer_balance_count %>
    </td>
    <td>
      <%= @invoice_check.computer_receive_count %>
      <%= f.hidden_field :computer_receive_count  %>
    </td>
    <td><%= f.text_field :computer_used_count,:class => "shortText" %></td>
    <td><%= f.text_field :computer_invalid_count,:class => "shortText" %></td>
    <td><span id='computer_rest_count'><%=@invoice_check.computer_rest_count  %></span></td>
  </tr>
  <tr>
    <th colspan='5'>手工票</th>
  </tr>
  <tr>
    <td>上期结余</td>
    <td>本期领取</td>
    <td>本期使用</td>
    <td>本期作废</td>
    <td>本期结余</td>
  </tr>
  <tr>
    <td>
      <%= @invoice_check.hand_balance_count %>
      <%= f.hidden_field :hand_balance_count  %>
    </td>
    <td>
      <%= @invoice_check.hand_receive_count %>
      <%= f.hidden_field :hand_receive_count  %>
    </td>
    <td><%= f.text_field :hand_used_count,:class => "shortText" %></td>
    <td><%= f.text_field :hand_invalid_count,:class => "shortText" %></td>
    <td><span id='hand_rest_count'><%=@invoice_check.hand_rest_count  %></span></td>
  </tr>

</table>
<div class="actions-bar">
  <%=f.submit '保存盘查信息',:disable_with => "正在保存...", :class => 'sexybutton sexysimple sexyblue'%>
  <%=link_to '取消',:back,:class => 'sexybutton sexysimple sexyred' %>
</div>
