<table class='table'>
  <tr>
    <td colspan='2'>分理处/分公司:</td>
    <td>
      <%=@invoice_check.org.name %>
    </td>
    <td colspan='2'>
      盘查日期:
      <%=@invoice_check.check_date %>
    </td>
  </tr>
  <tr>
    <th colspan='5'>电脑票</th>
  </tr>
  <tr>
    <td>上期结余</td>
    <td>本期领取</td>
    <td>本期使用</td>
    <td>本期作废</td>
    <td>本期结余</td>
  </tr>
  <tr>
    <td>
      <%= @invoice_check.computer_balance_count %>
    </td>
    <td>
      <%= @invoice_check.computer_receive_count %>
    </td>
    <td><%= @invoice_check.computer_used_count %></td>
    <td><%= @invoice_check.computer_invalid_count %></td>
    <td><%=@invoice_check.computer_rest_count  %></td>
  </tr>
  <tr>
    <th colspan='5'>手工票</th>
  </tr>
  <tr>
    <td>上期结余</td>
    <td>本期领取</td>
    <td>本期使用</td>
    <td>本期作废</td>
    <td>本期结余</td>
  </tr>
  <tr>
    <td>
      <%= @invoice_check.hand_balance_count %>
    </td>
    <td>
      <%= @invoice_check.hand_receive_count %>
    </td>
    <td><%=@invoice_check.hand_used_count %></td>
    <td><%=@invoice_check.hand_invalid_count %></td>
    <td><%=@invoice_check.hand_rest_count  %></td>
  </tr>
</table>
