<!--职位表-->
<ul>
  <% child_position_infos.each do |child_position| %>
    <li>
      <%if check_view_position_info_power(child_position)%>
        <%= link_to child_position.name,position_info_position_info_items_path(child_position) %>
      <%else%>
        <%=link_to child_position.name,'#'%>
      <%end%>
      <div class="org_chart_operate">
        <%= link_to "修改", edit_position_info_path(child_position,:active_sub_tab => 4) if check_power('update_position_info') %>
        &nbsp;&nbsp;
        <%= link_to "删除", position_info_path(child_position),:method => :delete,:confirm => "确定要删除吗?" if check_power('destroy_position_info')%>
      </div>

      <%= render  :partial => "position_info_tree",:locals => {:child_position_infos => child_position.children} %>
    </li>
  <% end %>
</ul>
