<div class="block">
  <div class="secondary-navigation">
    <%= render 'caption' %>
  </div>
  <div class="content">
    <h2 class="title">&nbsp;</h2>
    <div class="inner">
      <div id='position_info_tree_wrapper'>
        <ul id="position_info_tree" style='display : none;'>
          <li>
            <%unless @root_position_info.try(:position_info_items).blank?%>
              <%= link_to @root_position_info.name,position_info_position_info_items_path(@root_position_info,:active_sub_tab => 9) %>
            <%else%>
              <%= link_to @root_position_info.name,new_position_info_position_info_item_path(@root_position_info,:active_sub_tab => 10) %>
            <%end%>
            <div class='org_chart_operate'>
              <%= link_to "修改", edit_org_info_position_info_path(@root_position_info.org_info,@root_position_info,:active_sub_tab => 6) if check_power('update_position_info') %>
              &nbsp;&nbsp;
              <%= link_to "删除", org_info_position_info_path(@root_position_info.org_info,@root_position_info),:method => :delete,:confirm => "确定要删除吗?" if check_power('destory_position_info')%>
            </div>
            <%= render :partial => "position_info_tree",:locals => {:child_position_infos => @root_position_info.children } %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, render('sidebar') %>
