<div class="block">
  <div class="secondary-navigation">
    <%= render 'caption' %>
  </div>
  <div class="content">
    <h2 class="title">&nbsp;</h2>
    <div class="inner">
      <div id='position_info_tree_wrapper'>
        <ul id="position_info_tree" style='display : none;'>
          <li>
            <%= @root_position_info.name %>
            <div class='org_info_operate'>
              <%= link_to "修改", edit_org_info_position_info_path(@root_position_info) %>
              &nbsp;&nbsp;
              <%= link_to "删除", @root_position_info,:method => :delete,:confirm => "确定要删除吗?" %>
            </div>
            <%= render :partial => "position_info_tree",:locals => {:child_position_infos => @root_position_info.children } %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
