<h1>Editing invoice_type</h1>

<% form_for(@invoice_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </p>
  <p>
    <%= f.label :order_by %><br />
    <%= f.text_field :order_by %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @invoice_type %> |
<%= link_to 'Back', invoice_types_path %>