<h1>Listing invoice_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Is active</th>
    <th>Order by</th>
  </tr>

<% @invoice_types.each do |invoice_type| %>
  <tr>
    <td><%=h invoice_type.name %></td>
    <td><%=h invoice_type.is_active %></td>
    <td><%=h invoice_type.order_by %></td>
    <td><%= link_to 'Show', invoice_type %></td>
    <td><%= link_to 'Edit', edit_invoice_type_path(invoice_type) %></td>
    <td><%= link_to 'Destroy', invoice_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New invoice_type', new_invoice_type_path %>