<div class="block">
  <div class="secondary-navigation">
    <%= render 'caption' %>
  </div>
  <div class="content">
    <h2 class="title"><%= @position_info_items.first.try(:position_info).try(:name)%></h2>
    <div class="inner">
      <table class="table">
        <%@position_info_items.each_with_index do |item,idx| %>
          <tr class="<%= cycle("odd", "even") %>">
            <td>
              <%= idx + 1 %>
            </td>

            <td>
              <%= link_to item.title, item,:class => "ellipsis'" %>
            </td>
            <td>
              <%if check_power('update_position_info_item')%>
                <%= link_to "修改", edit_position_info_position_info_item_path(item.position_info,item,:active_sub_tab => 11) if check_power('update_position_info_item')%>
              <%end%>

              <%if check_power('destroy_position_info_item')%>
                <%= link_to "删除", position_info_position_info_item_path(item.position_info,item),:method => :delete,:confirm => "确定要删除吗?" if check_power('destroy_position_info_item')%>
              <%end%>
            </td>

          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') %>
