<ul class="wat-cf">
  <li class="first <%=check_sub_active_tab(1)%>">
    <%= link_to "论坛",posts_path(:active_sub_tab => 1)   %>
  </li>

  <%if params[:active_sub_tab] == '4'%>
    <li class="active"><%= link_to "查看", @post %></li>
  <%end%>
  <li class="<%=check_sub_active_tab(6)%>">
    <%= link_to "建议箱",suggestions_path(:active_sub_tab => 6) %>
  </li>
  <%= render :partial => "shared/more_operate" %>


</ul>
