<fieldset class='blockLabels'>
  <%=f.hidden_field :is_secure,:value => false %>
  <div class="ctrlHolder">
    <%= f.label :title, "标题" %>
    <%= f.text_field :title, :size => "30",:maxlength => "30",:class => 'textInput title' %>
    <p class="formHint">信息标题,最长30个汉字</p>
  </div>

  <div class="ctrlHolder">
    <%= f.label :body, "正文(最长300个汉字)" %>
    <%= f.tinymce :body %>
  </div>
  <div class="actions-bar">
    <%=f.submit '发布', :class => 'sexybutton sexysimple sexyblue'%>
  </div>
</fieldset>
