<div class="block">
  <div class="secondary-navigation">
    <%= render :partial => "caption" %>
  </div>
  <div class="content">
    <h2 class="title">信息列表</h2>
    <div class="inner">
      <table class="table">
        <%@posts.each do |post| -%>
          <tr class="<%= cycle("odd", "even") %> <%= check_message_state(post)%>">
            <td>
              <%= link_to post.title, post_path(post,:active_sub_tab => 4) %>
            </td>
            <td>
              <span class='ellipsis'> <%= post.user == current_user ? '我' : post.user.username%></span>
            </td>
            <td>
              <%= post.created_at.strftime("%y-%m-%d %H:%M") %>
            </td>
            <td>
              [<%= post.comments.size %>] 人回复
              <%if new_comments? post%>
                <span style='color : red;font-weight : bold;'>新!</span>
              <%end%>
            </td>
          </tr>
        <%end%>
      </table>
    </div>
    <div class="actions-bar wat-cf">
      <div class="actions">
        <%=will_paginate @posts %>
      </div>
    </div>
    <div class='inner'>
      <hr />
      <h3>发布新信息</h3>
      <% form_for Post.new, :html => { :class => :uniForm,:multipart => true } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end %>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>
