<!--标题条-->
<ul class="wat-cf">
  <%if check_power_groups(['手工票登记','机打票登记','其他票登记'])%>
    <li class="first <%=check_sub_active_tab(1) %>">
      <%= link_to "入库单", all_invoice_receipts_path(:active_sub_tab => 1,"search[org_id_eq]" => current_user.org_id) %>
    </li>
    <%if check_power('computer_invoice_receipt_audit') or  check_power('hand_invoice_receipt_audit') or  check_power('common_invoice_receipt_audit')%>
      <li class="<%=check_sub_active_tab(2) %>">
        <%= link_to "待确认", all_invoice_receipts_path(:active_sub_tab => 2,"search[state]" => MaterialInout::STATE_DRAFT,"search[auditor_id]" => current_user) %>
      </li>
    <%end%>
    <li class="first <%=check_sub_active_tab(3) %>">
      <%= link_to "出库单", all_invoice_shippments_path(:active_sub_tab => 3) %>
    </li>
    <%if check_power('computer_invoice_shippment_audit') or  check_power('hand_invoice_shippment_audit') or  check_power('common_invoice_shippment_audit')%>
      <li class="<%=check_sub_active_tab(4) %>">
        <%= link_to "待确认", all_invoice_shippments_path(:active_sub_tab => 4,"search[state]" => MaterialInout::STATE_DRAFT,"search[auditor_id]" => current_user) %>
      </li>
    <%end%>
    <%if check_power('new_common_invoice')%>
      <li class="<%=check_sub_active_tab(5) %>">
        <%= link_to "票据分类", common_invoices_path(:active_sub_tab => 5) %>
      </li>
    <%end%>
  <%end%>
</ul>
