<!--标题条-->
<ul class="wat-cf">
  <%if check_power_groups(['手工票登记','机打票登记','其他票登记'])%>
    <li class="first <%=check_sub_active_tab(1) %>">
      <%= link_to "入库单", all_invoice_receipts_path(:active_sub_tab => 1) %>
    </li>

    <li class="<%=check_sub_active_tab(2) %>">
      <%= link_to "待确认", all_invoice_receipts_path(:active_sub_tab => 2,"search[state]" => MaterialInout::STATE_DRAFT,"search[auditor_id]" => current_user) %>
    </li>
    <li class="first <%=check_sub_active_tab(1) %>">
      <%= link_to "入库单", all_invoice_receipts_path(:active_sub_tab => 1) %>
    </li>
  <%end%>

  <%if check_power_groups(['手工票登记','机打票登记','其他票登记'])%>
    <li class="<%=check_sub_active_tab(2) %>">
      <%= link_to "待确认", all_invoice_receipts_path(:active_sub_tab => 2,"search[state]" => MaterialInout::STATE_DRAFT,"search[auditor_id]" => current_user) %>
    </li>
  <% end %>

  <%if check_power('new_common_invoice')%>
    <li class="<%=check_sub_active_tab(16) %>">
      <%= link_to "票据分类", common_invoices_path(:active_sub_tab => 16) %>
    </li>
  <%end%>

</ul>
