<fieldset class='blockLabels'>
  <%=f.error_messages%>
  <div class="ctrlHolder">
    <%= f.label :inout_date, "出(入)库日期" %>
    <%= f.calendar_date_select :inout_date, :popup => :force,:class => "shortText" %>
    <%= f.hidden_field :warehouse_id,:id => 'warehouse_id' %>
  </div>
  <% if @param_name.include?('shippment') %>
    <div class="ctrlHolder">
      <%= f.label :org_id, "部门"%>
      <%if current_user.is_admin%>
        <%= f.select :org_id, orgs_for_select  %>
      <%else%>
        <%=f.object.org.name%>
        <%=f.hidden_field :org_id %>
      <%end%>
    </div>
  <%end%>

<div class="ctrlHolder">
  <%= f.label :person_name, "经办人" %>
  <%= f.text_field :person_name, :class => 'shortText' %>
</div>
<div class="ctrlHolder">
  <%= f.label :auditor_id, "审核人" %>
  <%=f.select :auditor_id,option_groups_departments_users_for_select_with_power(audit_type ||= "hand_invoice_receipt_audit"),:multiple => true%>
<p class="formHint">选择审核此信息的人员</p>
  </div>

  <div class="ctrlHolder">
    <%= f.label :note, "备注" %>
    <%= f.text_field :note, :class => 'textInput' %>
  </div>

</fieldset>
<div class='radius-box doc-info'>
  <h3 class='border-bottom'>单据明细</h3>
  <table class='table'>
    <thead>
      <tr>
        <td>票据种类</td>
        <td>单位</td>
        <td>单价</td>
        <td>数量</td>
        <td>份数</td>
        <td>起止号</td>
        <td>金额</td>
      </tr>
    </thead>
    <tbody id='line_fields_wrap'>
      <%f.fields_for :material_inout_lines do |line|%>
        <%= render 'material_inout_line_fields',:f => line %>
      <%end%>
    </tbody>
  </table>
</div>

<div class="actions-bar">
  <%=f.submit '保存信息',:disable_with => "正在保存...", :class => 'sexybutton sexysimple sexyblue'%>
  <%=link_to '取消',:back,:class => 'sexybutton sexysimple sexyred' %>
</div>
