<tr class='fields material_inout_line'>
  <td class='invoice_name'>
    <%=f.hidden_field :material_id,:value => HandInvoice.default_hand_invoice.id %>
    <%=HandInvoice.default_hand_invoice.name %>
  </td>
  <td class='invoice_unit'>
    <%=HandInvoice.default_hand_invoice.unit %>
  </td>
  <td class='invoice_price'>
    <%=f.text_field :price,:value => HandInvoice.default_hand_invoice.unit_price,:style => "width : 50px;",:class => "material_price" %>
  </td>
  <td class='invoice_qty'>
    <%=f.text_field :qty,:style => "width : 50px;",:class => "material_qty"%>
  </td>
  <td class='invoice_package_qty'>
    <%= hidden_field_tag :package_volume,HandInvoice.default_hand_invoice.package_volume,:class => "package_volume" %>
    <span class='package_qty'><%= f.object.qty*HandInvoice.default_hand_invoice.package_volume %></span>
  </td>
  <td class='invoice_bill_no'>
    <div class='bill_no_wrapper'>
      <%=f.text_field :from_no,:style => "width : 70px;",:maxlength => 12,:size => 12,:class => 'from_no' %>
      ~
      <%=f.text_field :to_no,:style => "width : 70px;",:maxlength => 12,:size => 12,:class => 'to_no'  %>
    </div>
  </td>
  <td class='invoice_line_amt'>
    <%=f.text_field :line_amt,:style => "width : 50px;",:class => 'material_total',:style => "width : 50px;",:readonly => true %>
  </td>
</tr>
