<div class="block">
  <h3>运单票据管理</h3>
  <ul class="navigation">
    <%if check_power('new_hand_invoice_receipt')%>
      <li><%=link_to "手工票入库单",hand_invoice_receipts_path(:active_sub_tab => 1)%></li>
    <%end%>

    <%if check_power('new_hand_invoice_shippment')%>
      <li><%=link_to "手工票领用单",hand_invoice_shippments_path(:active_sub_tab => 1)%></li>
    <%end%>

    <%if check_power('update_hand_invoice')%>
      <li>
        <%=link_to "修改手工票设置",edit_hand_invoice_path(HandInvoice.default_hand_invoice,:active_sub_tab => 7)%>
      </li>
    <%end%>
    <%if check_power('new_computer_invoice_receipt')%>
      <li><%=link_to "机打票入库单",computer_invoice_receipts_path(:active_sub_tab => 1)%></li>
    <%end%>

    <%if check_power('new_computer_invoice_shippment')%>
      <li><%=link_to "机打票领用单",computer_invoice_shippments_path(:active_sub_tab => 1)%></li>
    <%end%>

    <%if check_power('update_computer_invoice')%>
      <li>
        <%=link_to "修改机打票设置",edit_computer_invoice_path(ComputerInvoice.default_computer_invoice,:active_sub_tab => 9)%>
      </li>
    <%end%>
  </ul>
</div>
<div class="block">
  <h3>其他票据管理</h3>
  <ul class="navigation">
    <%if check_power('new_common_invoice_receipt')%>
      <li><%=link_to "票据入库单",common_invoice_receipts_path(:active_sub_tab => 1)%></li>
    <%end%>

    <%if check_power('new_common_invoice_shippment')%>
      <li><%=link_to "票据领用单",common_invoice_shippments_path(:active_sub_tab => 1)%></li>
    <%end%>
    <%if check_power('new_common_invoice')%>
      <li><%=link_to "新建票据类型",new_common_invoice_path(:active_sub_tab => 7)%></li>
    <%end%>
  </ul>
</div>

<div class="block">
  <h3>查询</h3>
  <div class="content">
    <%= render "search_form" %>
  </div>
</div>

<%if check_power('new_invoice_check')%>
  <div class="block">
    <h3>运单票据盘查</h3>
    <div class="content">
      <%= render "invoice_checks/new_with_org" %>
    </div>
    <ul class="navigation">
      <li><%= link_to "运单盘查信息列表>>", invoice_checks_path(:active_sub_tab => 12)  %></li>
    </ul>
  </div>
<%end%>

<%if check_power('view_m_storage_invoice')%>
  <div class="block">
    <h3>库存统计</h3>
    <ul class="navigation">
      <li><%= link_to "库存统计", index_invoice_m_storages_path("search[warehouse_id_eq]" => Warehouse.default_invoice_warehouse.id,:active_sub_tab => 11)  %></li>
    </ul>
  </div>
<%end%>
