<div class="block">
  <div class="secondary-navigation">
    <%= render 'caption' %>
  </div>
  <div class="content">
    <h2 class="title">预算表</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"></th>
          <th>分理处</th>
          <th>月均货量</th>
          <th>提成额</th>
          <th>月管理费</th>
          <th>管理费比例</th>
          <th>&nbsp;</th>
        </tr>
        <% @budget_tables.each_with_index do |bt,index| %>
          <tr class="<%= cycle("odd", "even") %>">
            <td><%= index + 1 %></td>
            <td><%=bt.org.name %></td>
            <td><%=bt.sum_carrying_fee %></td>
            <td><%=bt.profit_fee %></td>
            <td><%=bt.management_fee_per_month%></td>
            <td><%=bt.management_fee_rate*100 %>&#37;</td>
            <td>
              <%= link_to "查看",bt %>
              <% if check_power('destroy_budget_table')%>
                <%= link_to "删除", bt,:method => :delete,:confirm => "您确定要删除吗?" %>
              <%end%>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
          <%=will_paginate @budget_tables %>
        </div>
      </div>

    </div>
  </div>
</div>
<% content_for :sidebar, render('sidebar') %>
