<h1>New budget_table</h1>

<% form_for(@budget_table) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :org %><br />
    <%= f.text_field :org %>
  </p>
  <p>
    <%= f.label :sum_carrying_fee %><br />
    <%= f.text_field :sum_carrying_fee %>
  </p>
  <p>
    <%= f.label :commission_rate %><br />
    <%= f.text_field :commission_rate %>
  </p>
  <p>
    <%= f.label :rent_fee %><br />
    <%= f.text_field :rent_fee %>
  </p>
  <p>
    <%= f.label :salary_rate %><br />
    <%= f.text_field :salary_rate %>
  </p>
  <p>
    <%= f.label :utilities_fee %><br />
    <%= f.text_field :utilities_fee %>
  </p>
  <p>
    <%= f.label :office_fee %><br />
    <%= f.text_field :office_fee %>
  </p>
  <p>
    <%= f.label :communication_fee %><br />
    <%= f.text_field :communication_fee %>
  </p>
  <p>
    <%= f.label :profit_rate %><br />
    <%= f.text_field :profit_rate %>
  </p>
  <p>
    <%= f.label :goods_loaded %><br />
    <%= f.text_field :goods_loaded %>
  </p>
  <p>
    <%= f.label :distance %><br />
    <%= f.text_field :distance %>
  </p>
  <p>
    <%= f.label :fuel_fee %><br />
    <%= f.text_field :fuel_fee %>
  </p>
  <p>
    <%= f.label :compensate_rate %><br />
    <%= f.text_field :compensate_rate %>
  </p>
  <p>
    <%= f.label :vehicle_fee %><br />
    <%= f.text_field :vehicle_fee %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', budget_tables_path %>