<p>
  <b>Org:</b>
  <%=h @budget_table.org %>
</p>

<p>
  <b>Sum carrying fee:</b>
  <%=h @budget_table.sum_carrying_fee %>
</p>

<p>
  <b>Commission rate:</b>
  <%=h @budget_table.commission_rate %>
</p>

<p>
  <b>Rent fee:</b>
  <%=h @budget_table.rent_fee %>
</p>

<p>
  <b>Salary rate:</b>
  <%=h @budget_table.salary_rate %>
</p>

<p>
  <b>Utilities fee:</b>
  <%=h @budget_table.utilities_fee %>
</p>

<p>
  <b>Office fee:</b>
  <%=h @budget_table.office_fee %>
</p>

<p>
  <b>Communication fee:</b>
  <%=h @budget_table.communication_fee %>
</p>

<p>
  <b>Profit rate:</b>
  <%=h @budget_table.profit_rate %>
</p>

<p>
  <b>Goods loaded:</b>
  <%=h @budget_table.goods_loaded %>
</p>

<p>
  <b>Distance:</b>
  <%=h @budget_table.distance %>
</p>

<p>
  <b>Fuel fee:</b>
  <%=h @budget_table.fuel_fee %>
</p>

<p>
  <b>Compensate rate:</b>
  <%=h @budget_table.compensate_rate %>
</p>

<p>
  <b>Vehicle fee:</b>
  <%=h @budget_table.vehicle_fee %>
</p>


<%= link_to 'Edit', edit_budget_table_path(@budget_table) %> |
<%= link_to 'Back', budget_tables_path %>