<ul class="wat-cf">
  <%if check_power('new_common_invoice_receipt')%>
    <li class="first <%=check_sub_active_tab(1) %>">
      <%= link_to "入库单", common_invoice_receipts_path(:active_sub_tab => 1) %>
    </li>
  <%end%>

  <%if check_power('common_invoice_receipt_audit')%>
    <li class="<%=check_sub_active_tab(15) %>">
      <%= link_to "待确认", common_invoice_receipts_path(:active_sub_tab => 15,"search[state]" => MaterialInout::STATE_DRAFT,"search[auditor_id]" => current_user) %>
    </li>
  <% end %>
  <%if check_power('new_common_invoice')%>
    <li class="<%=check_sub_active_tab(16) %>">
      <%= link_to "票据分类", common_invoices_path(:active_sub_tab => 16) %>
    </li>
    <% if params[:active_sub_tab] == '7'%>
      <li class='active'>
        <%=link_to "新建票据类型",new_common_invoice_path(:active_sub_tab => 7)%>
      </li>
    <%end%>

  <% end %>

  <%if params[:active_sub_tab] == '4'%>
    <li class="<%=check_sub_active_tab(4) %>"><%= link_to "查看入库单", common_invoice_receipt_path(@common_invoice_receipt,:active_sub_tab => 4) %></li>
  <%end%>

  <%if check_power('new_common_invoice_receipt')%>
    <li class= class="<%=check_sub_active_tab(6) %>">
      <%= link_to "新建入库单", new_common_invoice_receipt_path(:active_sub_tab => 6) %>
    </li>
  <%end%>
</ul>
