<div class="block">
  <%if check_power('new_rule') %>
    <h3>新建</h3>
    <ul class="navigation">
      <% if check_power("new_rule") %>
        <li><%=link_to "新建规章制度",new_rule_path%></li>
      <%end%>
    </ul>
  <%end%>
</div>
<div class="block">
  <h3>查询</h3>
  <div class="content">
    <%=render "shared/messages/search_form"%>
  </div>
  <% if params[:action] == 'show' %>
    <h3>导出</h3>
    <ul class="navigation">
      <li><%= link_to "导出", self.send("#{@param_name.singularize}_path",instance_variable_get("@#{@param_name.singularize}"),:format => :csv)
%>
    </ul>
  <% end %>
</div>
<div class="block">
  <% if params[:action] == 'show' %>
    <h3>导出到word</h3>
    <ul class="navigation">
      <li><%= link_to_remote "导出word",:url => rule_path(@rule,:format => :js),:method => :get%>
    </ul>
    <div style='position : absolute;left : -9999px;'>
      <%=render "word" %>
    </div>
  <% end %>
</div>
