<table style='border-collapse : collapse;border : thin solid #000;'>
  <tr>
    <td width='100' colspan='3' style='text-align :center;border-collapse : collapse;border : thin solid #000;font-size : 14px;'><%=Client.first.name%></td>
  </tr>
  <tr>
    <td colspan='3' style='text-align :center;border-collapse : collapse;border : thin solid #000;font-size : 14px;font-weight : bold;'>内部罚款决定书</td>
  </tr>
  <tr>
    <td colspan='3' style='text-align :center;border-collapse : collapse;border : thin solid #000;font-size : 14px;font-weight : bold;'><%=@punishment.title%></td>
  </tr>

  <tr>
    <td style='border-collapse : collapse;border : thin solid #000'>被罚对象:</td>
    <td colspan='2' style='border-collapse : collapse;border : thin solid #000;'><%=@punishment.org.name%></td>
  </tr>
  <thead>
    <tr>
      <td style='border-collapse : collapse;border : thin solid #000'>日期</td>
      <td style='border-collapse : collapse;border : thin solid #000'>处罚内容</td>
      <td style='border-collapse : collapse;border : thin solid #000'>罚款金额</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style='border-collapse : collapse;border : thin solid #000'><%=@punishment.punish_date %></td>
      <td style='border-collapse : collapse;border : thin solid #000'><%=@punishment.content %></td>
      <td style='border-collapse : collapse;border : thin solid #000'><%=@punishment.punishment_fee %></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td style='border-collapse : collapse;border : thin solid #000'>部门主管:</td>
      <td style='border-collapse : collapse;border : thin solid #000'>开票人:</td>
      <td style='border-collapse : collapse;border : thin solid #000'><%=@punishment.handled%></td>
    </tr>
  </tfoot>
</table>
