<table style='border-collapse : collapse;border : thin solid #000;'>
  <tr>
    <td width='100' colspan='3' style='text-align :center;border-collapse : collapse;border : thin solid #000;font-size : 14px;'><%=Client.first.name%></td>
  </tr>
  <tr>
    <td colspan='3' style='text-align :center;border-collapse : collapse;border : thin solid #000;font-size : 14px;font-weight : bold;'>内部罚款决定书</td>
  </tr>
  <tr>
    <td colspan='3' style='text-align :center;border-collapse : collapse;border : thin solid #000;font-size : 14px;font-weight : bold;'><%=@punishment.title%></td>
  </tr>

  <tr>
    <td style='border-collapse : collapse;border : thin solid #000;text-align : center;'>被罚机构:</td>
    <td colspan='2' style='border-collapse : collapse;border : thin solid #000;text-align : center;'><%=@punishment.target_org.name%></td>
  </tr>
  <thead>
    <tr>
      <td style='border-collapse : collapse;border : thin solid #000;text-align : center;'>日期</td>
      <td style='border-collapse : collapse;border : thin solid #000;text-align : center;'>处罚内容</td>
      <td style='border-collapse : collapse;border : thin solid #000;text-align : center;'>罚款金额</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style='border-collapse : collapse;border : thin solid #000;text-align : left;'><%=@punishment.punish_date %></td>
      <td style='border-collapse : collapse;border : thin solid #000;text-align : left;'><%=@punishment.content %></td>
      <td style='border-collapse : collapse;border : thin solid #000;text-align : left;'><%=@punishment.punishment_fee %></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td style='border-collapse : collapse;border : thin solid #000';text-align : left;>部门主管:</td>
      <td style='border-collapse : collapse;border : thin solid #000';text-align : left;></td>
      <td style='border-collapse : collapse;border : thin solid #000';text-align : left;>开票人:<%=@punishment.handled%></td>
    </tr>
  </tfoot>
</table>
