<table class='table' style='border-collapse : collapse;' id="punishment_table">
  <tr>
    <td colspan='4' style='font-size : 20px;font-weight : bold;text-align : center;'><%= Client.first.name%></td>
  </tr>
  <tr>
    <td colspan='4' style='font-size : 20px;font-weight : bold;text-align : center;'>内部罚款决定书</td>
  </tr>
  <tr>
    <td style='border : thin solid #000;width : 30mm;'>被罚机构:</td>
    <td style='border : thin solid #000;width : 70mm;'><%= @punishment.target_org.name %></td>
    <td style='border : thin solid #000;width : 30mm;'>日期:</td>
    <td style='border : thin solid #000;width : 60mm;'><%= @punishment.punish_date.strftime("%Y-%m-%d") %></td>
  </tr>
  <tr>
    <td style='border : thin solid #000;'>处罚原因:</td>
    <td colspan='3' style='border : thin solid #000;height : 40mm;'><%= @punishment.content %></td>
  </tr>
  <tr>
    <td style='border : thin solid #000;'>处罚依据:</td>
    <td colspan='3' style='border : thin solid #000;'><%= @punishment.rule.try(:title) %></td>
  </tr>
  <tr>
    <td style='border : thin solid #000;'>处罚金额:</td>
    <td colspan='2' style='border : thin solid #000;'>人民币(大写)<%= convertNumToChinese @punishment.punishment_fee %></td>
    <td style='border : thin solid #000;'>&yen;&nbsp;<%= @punishment.punishment_fee %></td>
  </tr>
  <tr>
    <td>录入机构:</td>
    <td><%= @punishment.org.try(:name) %></td>
    <td>主管签字:</td>
    <td>&nbsp;</td>
  </tr>
</table>
<div class="actions-bar text-center">
  <%=link_to_function '打印',"", :class => 'sexybutton sexysimple sexyblue',:id => "btn_print_punishment"%>
</div>
<script type='text/javascript'>
  var print_func = function(){
    var web_print =  new com.yanzhao.web_print();
    var print_config = {
        top : 0,
        left : 0,
        width : '210mm',
        height : '105mm',
        content : $('punishment_table').outerHTML

    };
    web_print.print_html(print_config);
  };
  $('btn_print_punishment').observe('click',print_func);

</script>

