<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%=Client.first.name%> - 综合信息系统-<%=current_user.username%></title>
    <%= javascript_include_tag 'jquery-1.8.3.min.js','jverticalmenu','jquery.jOrgChart','popover', "prototype",'effects','dragdrop','controls','live_validation','modalbox' %>
    <%= calendar_date_select_includes :blue %>
    <!--%= init_tinymce_hammer_if_required %-->
    <%= tinymce_managed_javascript_tag "file_manager" %>
    <%= javascript_include_tag 'application','web_print' %>
    <%= stylesheet_link_tag "web_app_theme", "themes/blue/style","live_validation","uni-form",
      "modalbox","/sexybuttons/sexybuttons","jverticalmenu","jquery.jOrgChart",'popover',"web_app_theme_override" %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>
          <%if Client.count > 0 && !Client.first.logo_file_name.blank?%>
            <%=image_tag Client.first.logo.url(:thumb)%>
          <%end%>
          <%=link_to Client.first.name, :root %>
        </h1>
        <div id="util-navigation">
          <ul class="wat-cf">
            <li><%=link_to current_user.try(:username),edit_user_registration_path,:onclick => "Modalbox.show(this.href,{title : '修改登录用户信息'});return false;"%></li>
            <li><%=link_to "退出系统",destroy_user_session_path,:class => "logout" %></li>
          </ul>
        </div>
        <div id="user-navigation">
          <ul class="wat-cf">
            <%if current_user.is_admin%>
              <li class="<%= check_current_controller(['clients']) %>">
                <%=link_to "公司信息",edit_client_path(Client.first) %>
              </li>
              <li class="<%= check_current_controller(['departments','sub_companies','warehouses']) %>">
                <%=link_to "基础资料",departments_path %>
              </li>
              <li class="<%= controller.controller_path == 'users' ? 'active' : '' %>">
                <%=link_to "用户管理",users_path%>
              </li>
            <%end%>
            <li>
              <%= link_to "侧栏", "#",:id => "btn_sidebar" %>
            </li>
          </ul>
        </div>
        <div id="main-navigation">
          <ul class="wat-cf">
            <li class="<%= check_current_controller(['notices','rules','address_books']) %>">
              <%=link_to "公共信息#{unread_notices_rules_sign}",notices_path("search[is_active_is]" => true,"search[state_is]" => "published")%>
            </li>
            <li class="<%= check_current_controller(['chat_messages','suggestions']) %>">
              <%=link_to "在线交流",chat_messages_path%>
            </li>
            <!--
            <%if check_power_group('贵宾系统')%>
              <li class="<%= check_current_controller(['vip_infos','vip_fee_infos','vip_configs','upload_vip_files']) %>">
                <%=link_to "贵宾系统",vip_infos_path%>
              </li>
            <%end%>

            <%if check_power_group('分成结算')%>
              <li class="<%= check_current_controller(['settlement_lines','settlements','contracts']) %>">
                <%= link_to "分成结算#{alert(@contract_alert_count)}", settlements_path('search[created_at_gte]' => 2.months.ago.beginning_of_day)   %>
              </li>
            <%end%>

            <%if check_power_group('耐用品管理')%>
              <li class="<%= check_current_controller(['scrapped_infos','durable_materials','durable_receipts','durable_shippments','material_inout_lines'],'durable_receipts') %>">
                <%=link_to "耐用品管理",durable_receipts_path %>
              </li>
            <%end%>

            <%if check_power_group('易耗品管理')%>
              <li class="<%= check_current_controller(['consumer_materials','consumer_receipts','consumer_shippments'],'consumer_receipts') %>">
                <%=link_to "易耗品管理#{alert(@storage_alert_count)}",consumer_receipts_path %>
              </li>
            <%end%>

            <%if check_power_group('票据管理')%>
              <li class="<%= check_current_controller(['carrying_bills'],'carrying_ bills') %>">
                <%=link_to "票据科",carrying_bills_path %>
              </li>
            <%end%>

            <%if check_power_group('提货单管理')%>
              <li class="<%= check_current_controller(['inout_bills'],'inout_bills') %>">
                <%=link_to "后勤部",inout_bills_path %>
              </li>
            <%end%>
            <li class="<%= check_current_controller(['violations','punishments']) %>">
              <%= link_to "违规处罚", punishments_path(:active_sub_tab => 1)  %>
            </li>
            <%if check_power_group('投票系统')%>
              <li class="<%= check_current_controller(['votes'],'votes') %>">
                <%=link_to "投票系统",votes_path("search[org_id_eq]" => current_user.org) %>
              </li>
            <% end %>

            <%if check_power_group('工资核算')%>
              <li class="<%= check_current_controller(['employees','salary_tables']) %>">
                <%= link_to "工资核算", salary_tables_path(:active_sub_tab => 1)  %>
              </li>
            <%end%>
            <%if check_power_group('预算工具')%>
              <li class="<%= check_current_controller(['management_fee_configs','org_management_fee_configs','budget_tables']) %>">
                <%= link_to "预算工具", budget_tables_path(:active_sub_tab => 1)  %>
              </li>
            <%end%>
            <%if check_power_group('手工票登记') or  check_power_group('机打票登记') or check_power_group('库存及票据盘查') or check_power_group('其他票据登记')  %>
              <li class="<%= check_current_controller(['all_invoice_receipts','all_invoice_shippments','common_invoice_receipts','common_invoice_shippments','common_invoices','hand_invoice_receipts','hand_invoice_shippments','hand_invoices','computer_invoice_receipts','computer_invoice_shippments','computer_invoices','m_storages','invoice_checks']) %>">
                <%= link_to "票据登记", all_invoice_receipts_path("search[org_id_eq]" => current_user.org_id,:active_sub_tab => 1)  %>
              </li>
            <%end%>
          </ul>
          -->
        </div>
      </div>
      <div id="wrapper" class="wat-cf">
        <%= render :partial => "shared/vertical_menu" %>
        <div id="main">
          <div id='flash' class="flash">
            <% flash.each do |type, message| -%>
              <div class="message <%= type %>">
                <p><%= message %></p>
              </div>
            <% end %>
          </div>
          <%= yield %>
          <div id="footer">
            <%= render :partial => 'shared/footer' %>
          </div>
        </div>
        <div id="sidebar">
          <%= yield :sidebar %>
        </div>
      </div>
    </div>
  </body>
</html>
